# Configuración de GoDaddy
GODADDY_PASSWORD=tu_contraseña_de_correo_godaddy_aqui

# Configuración de Google Sheets
GOOGLE_SHEET_ID=tu_id_de_google_sheet_aqui
GOOGLE_APPLICATION_CREDENTIALS=credentials.json

# Puerto del servidor
PORT=5000 