# Configuración de Gmail OAuth2
GMAIL_CLIENT_ID=tu_client_id_aqui
GMAIL_CLIENT_SECRET=tu_client_secret_aqui
GMAIL_REDIRECT_URI=https://developers.google.com/oauthplayground
GMAIL_REFRESH_TOKEN=tu_refresh_token_aqui

# Puerto del servidor
PORT=5000 